lightning_logs/
wandb/
grokking-transformer/
interpreting_grokking/
data/
No Norm, Single Layer/
Single Layer ReLU/
Attention Only/
Tied Embeddings/
Tied Embeddings, Addition/
Test/
umap_embeddings/
*.pt
